.container {
  max-width: 900px;
  display: block;
  margin: auto;
  .input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    .input-title {
      width: 40%;
      background: white;
      border: 1px solid green;
      font-size: 14px;
      margin-bottom: 12px;
      box-sizing: border-box;
      outline: none;
      padding: 5px;
      border-radius: 2px;
      transition: 0.35s;
    }
    .input-content {
      width: 40%;
      border: 1px solid green;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 12px;
      min-height: 200px;
      margin-bottom: 16px;
      font-size: 14px;
      color: gray;
      outline: none;
      transition: 0.35s;
    }

    .actionNotes {
      display: flex;
      justify-content: space-between;
      width: 40%;
      .save-btn {
        padding: 10px 50px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid green;
        color: green;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        outline: none;
        transition: 0.35s;
        &:hover {
          cursor: pointer;
          background-color: green;
          color: white;
          transform: translateY(-3px);
        }
        &.cancel {
          border: 2px solid rgb(255, 166, 0);
          color: rgb(255, 166, 0);
          &:hover {
            cursor: pointer;
            background-color: rgb(255, 166, 0);
            color: white;
            transform: translateY(-3px);
          }
        }
      }
    }
  }
  .card-cotent {
    box-shadow: 4px 3px 9px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    transition: all ease 0.3s;
    position: relative;
    &:hover {
      cursor: pointer;
      transform: translateY(-6px);
      background-color: rgba(21, 255, 0, 0.404);
    }
    p {
      margin: 0;
    }
    .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .date {
      font-size: 12px;
    }
    .contant {
      margin-top: 20px;
      font-size: 14px;
    }
    .detele-btn {
      width: 30px;
      height: 30px;
      background-color: red;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: white;
      position: absolute;
      top: -12px;
      right: -12px;
      &:hover {
        transform: scale(1);
      }
    }
  }
}
